################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/OnionSa/.vs/
/OnionSa/OnionSa.API/bin/
/OnionSa/.vs/OnionSa/FileContentIndex/0d78dc91-43eb-40e4-b3f9-2984aa627b6f.vsidx
/OnionSa/.vs/OnionSa/FileContentIndex/52c23610-cccc-4915-96f9-40d85d7c0256.vsidx
/OnionSa/.vs/OnionSa/FileContentIndex/536d18ce-a1a3-48ce-93e4-3e47602846bb.vsidx
/OnionSa/.vs/OnionSa/FileContentIndex/56074daf-65be-47ea-8422-2cd6d2780ea5.vsidx
/OnionSa/.vs/OnionSa/v17/.futdcache.v2
/OnionSa/.vs/OnionSa/v17/.suo
/OnionSa/.vs/ProjectEvaluation/onionsa.metadata.v7.bin
/OnionSa/.vs/ProjectEvaluation/onionsa.projects.v7.bin
/OnionSa/OnionSa.API/obj/Debug/net6.0/OnionSa.API.assets.cache
/OnionSa/OnionSa.API/obj/Debug/net6.0/OnionSa.API.csproj.AssemblyReference.cache
/OnionSa/OnionSa.API/obj/Debug/net6.0/OnionSa.API.csproj.CoreCompileInputs.cache
/OnionSa/OnionSa.API/obj/Debug/net6.0/OnionSa.API.csproj.FileListAbsolute.txt
/OnionSa/OnionSa.API/obj/Debug/net6.0/OnionSa.API.dll
/OnionSa/OnionSa.API/obj/Debug/net6.0/OnionSa.API.GeneratedMSBuildEditorConfig.editorconfig
/OnionSa/OnionSa.API/obj/Debug/net6.0/OnionSa.API.genruntimeconfig.cache
/OnionSa/OnionSa.API/obj/Debug/net6.0/OnionSa.API.pdb
/OnionSa/OnionSa.API/obj/OnionSa.API.csproj.nuget.dgspec.json
/OnionSa/OnionSa.API/obj/project.assets.json
/OnionSa/OnionSa.API/obj/project.nuget.cache
/OnionSa/OnionSa.Application/bin/Debug/net6.0/OnionSa.Application.deps.json
/OnionSa/OnionSa.Application/bin/Debug/net6.0/OnionSa.Application.dll
/OnionSa/OnionSa.Application/bin/Debug/net6.0/OnionSa.Application.pdb
/OnionSa/OnionSa.Application/bin/Debug/net6.0/OnionSa.Core.dll
/OnionSa/OnionSa.Application/bin/Debug/net6.0/OnionSa.Core.pdb
/OnionSa/OnionSa.Application/bin/Debug/net6.0/OnionSa.Infrastructure.dll
/OnionSa/OnionSa.Application/bin/Debug/net6.0/OnionSa.Infrastructure.pdb
/OnionSa/OnionSa.Application/obj/Debug/net6.0/OnionSa.Application.assets.cache
/OnionSa/OnionSa.Application/obj/Debug/net6.0/OnionSa.Application.csproj.AssemblyReference.cache
/OnionSa/OnionSa.Application/obj/Debug/net6.0/OnionSa.Application.csproj.CoreCompileInputs.cache
/OnionSa/OnionSa.Application/obj/Debug/net6.0/OnionSa.Application.csproj.FileListAbsolute.txt
/OnionSa/OnionSa.Application/obj/Debug/net6.0/OnionSa.Application.dll
/OnionSa/OnionSa.Application/obj/Debug/net6.0/OnionSa.Application.GeneratedMSBuildEditorConfig.editorconfig
/OnionSa/OnionSa.Application/obj/Debug/net6.0/OnionSa.Application.genruntimeconfig.cache
/OnionSa/OnionSa.Application/obj/Debug/net6.0/OnionSa.Application.pdb
/OnionSa/OnionSa.Application/obj/Debug/net6.0/ref/OnionSa.Application.dll
/OnionSa/OnionSa.Application/obj/Debug/net6.0/refint/OnionSa.Application.dll
/OnionSa/OnionSa.Application/obj/OnionSa.Application.csproj.nuget.dgspec.json
/OnionSa/OnionSa.Application/obj/project.assets.json
/OnionSa/OnionSa.Application/obj/project.nuget.cache
/OnionSa/OnionSa.Core/bin/Debug/net6.0/OnionSa.Core.dll
/OnionSa/OnionSa.Core/bin/Debug/net6.0/OnionSa.Core.pdb
/OnionSa/OnionSa.Infrastructure/bin/Debug/net6.0/OnionSa.Core.dll
/OnionSa/OnionSa.Infrastructure/bin/Debug/net6.0/OnionSa.Core.pdb
/OnionSa/OnionSa.Infrastructure/bin/Debug/net6.0/OnionSa.Infrastructure.dll
/OnionSa/OnionSa.Infrastructure/bin/Debug/net6.0/OnionSa.Infrastructure.pdb
/OnionSa/OnionSa.Infrastructure/obj/Debug/net6.0/OnionSa.Infrastructure.assets.cache
/OnionSa/OnionSa.Infrastructure/obj/Debug/net6.0/OnionSa.Infrastructure.csproj.AssemblyReference.cache
/OnionSa/OnionSa.Infrastructure/obj/Debug/net6.0/OnionSa.Infrastructure.csproj.CoreCompileInputs.cache
/OnionSa/OnionSa.Infrastructure/obj/Debug/net6.0/OnionSa.Infrastructure.csproj.FileListAbsolute.txt
/OnionSa/OnionSa.Infrastructure/obj/Debug/net6.0/OnionSa.Infrastructure.dll
/OnionSa/OnionSa.Infrastructure/obj/Debug/net6.0/OnionSa.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/OnionSa/OnionSa.Infrastructure/obj/Debug/net6.0/OnionSa.Infrastructure.genruntimeconfig.cache
/OnionSa/OnionSa.Infrastructure/obj/Debug/net6.0/OnionSa.Infrastructure.pdb
/OnionSa/OnionSa.Infrastructure/obj/OnionSa.Infrastructure.csproj.nuget.dgspec.json
/OnionSa/OnionSa.Infrastructure/obj/project.assets.json
/OnionSa/OnionSa.Infrastructure/obj/project.nuget.cache
/OnionSa/OnionSa.Core/obj/OnionSa.Core.csproj.nuget.dgspec.json
/OnionSa/OnionSa.Core/obj/project.assets.json
/OnionSa/OnionSa.Core/obj/project.nuget.cache
/OnionSa/OnionSa.Core/obj/Debug/net6.0/OnionSa.Core.assets.cache
/OnionSa/OnionSa.Core/obj/Debug/net6.0/OnionSa.Core.csproj.FileListAbsolute.txt
/OnionSa/OnionSa.Core/obj/Debug/net6.0/OnionSa.Core.dll
/OnionSa/OnionSa.Core/obj/Debug/net6.0/OnionSa.Core.GeneratedMSBuildEditorConfig.editorconfig
/OnionSa/OnionSa.Core/obj/Debug/net6.0/OnionSa.Core.genruntimeconfig.cache
/OnionSa/OnionSa.Core/obj/Debug/net6.0/OnionSa.Core.pdb
